<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
   
   <!-- Using the servlet-api 3.0 @WebServlet("/path") annotations -->
   <!-- Check out _web.xml.bkp for web.xml class-servlet-url mapping configurations -->
</web-app>
